* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
@font-face {
  src: url("./assets/fonts/NotoSerif-Bold.ttf");
  font-family: "NotoSerif";
}

@font-face {
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-family: "RobotoRegular"
}

.row {
  padding: 0;
  margin: 0;
}

.pad20 {
  padding: 20px;
}

.padBottom {
  padding-bottom: 15px;
}

.bottom-border {
  border-bottom: 1px solid #d3d3d3;
}

.pad0 {
  padding: 0;
}

.height40 {
  height: 40px;
}

.right25 {
  right: 0;
}

.btn-color {
  color: #51bec1;
}

.opacity05 {
  opacity: 0.5;
}

.NeueSerifBold {
  font-family: NotoSerif;
  font-weight: 700;
}

.NeueSerifMedium {
  font-family: NotoSerif;
  font-weight: 600;
}

.RobotoRegular {
  font-family: RobotoRegular;
  font-weight: 500;
}

.text-font {
  font-family: RobotoRegular;
  font-weight: 500;
  font-size: 14px;
}

.h2-Font {
  font-size: 25px;
}

.h4-Font {
  font-size: 20px;
}

.custom-btn {
  color: #000000 !important;
  background: #ffb100 !important;
}

.btn-gridwall {
  background-color: #51bec1 ! important;
  border: none;
}

option {
  background-color: #CBEAEB ! important;
}

option:not(:checked) {
  background-color: white;
  color: #000;
}

@media only screen and (max-width:767px) {
  .container {
    padding: 0;
  }
  .mx-5 {
    margin: 0 !important;
  }
  .mobile-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mobile-order {
    order: 1;
  }
  .padBottom {
    padding-bottom: 10px;
  }
  .h2-Font {
    font-size: 25px;
  }
  .h4-Font {
    font-size: 20px;
  }
  .feature-section .text-section {
    margin-top: 20px;
  }
  .cart-indicator {
    top:-5px !important;
    right:5px !important;
  }
  .wishlist-indicator {
    top: -4px !important;
    right: 40px !important;
  }
  .filter-section-wrapper {
    margin-top: 100px !important;
  }
  .wishlist-wrapper {
    padding-top: 100px !important;
  }
}

@media only screen and (min-width:767px) {
  .floatRight {
    float: right;
  }
  .feature-section .text-section div {
    max-width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer-container .footer-links {
    min-height: 300px;
    border-bottom: 1px solid #444f58;
  }
  .footer-container ul {
    border-bottom: 0 !important;
    padding-bottom: 20px !important;
  }
}

/* .banner-background {
  background-color: #bc8f8f;
} */

/* search and filter*/

.search-wrapper {
  height: 30px;
  width: 100%;
  opacity: 0.8;
  border-radius: 2px;
  background-color: #ffffff;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  /* height: 25px; */
  padding-left: 8px;
  background-color: transparent;
}

/* .fa-search {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #dee2e6;
} */
.search-icon {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #dee2e6;
}
/* #filter-section select {
  border: none;
  background-color: #dfe2e4e3;
} */
.filter-section-wrapper {
  margin-top: 125px;
}
.label-text {
  border: 1px solid #dfe2e470;
  padding-left: 4px;
}

/* card*/

.img-width {
  width: 130px;
}

.card {
  height: 400px;
  border: 1px solid #D8DADA;
  box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.2);
  transition: all 1s linear;
}

.card-img {
  transition: all 0.5s linear;
}

.card-body {
  padding: 0;
}

.img-container {
  height: 285px;
  text-align: center;
  overflow: hidden;
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #808080;
  transition: all 1s linear;
  cursor: pointer;
}

.pdp-wishlist-btn {
  position: absolute;
  top: -15px;
  right: 12%;
  font-size: 25px;
  color: #808080;
  transition: all 1s linear;
  cursor: pointer;
}

.wishlist-btn-clicked {
  color: #ff0000;
  animation: wishlist 1s;
}

@keyframes wishlist {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.btn-position {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (min-width:992px) {
  /* .card:hover .wishlist-btn {
    display: block;
  } */
  .img-container:hover .card-img {
    transform: scale(0.8);
  }
  .addto-cart-btn {
    position: absolute;
    bottom: 102px;
    left: 0px;
    display: block;
    border-top-right-radius: 10px;
    transition: all 0.6s linear;
    transform: translate(-100%, 0%)
  }
  .card:hover .addto-cart-btn {
    transform: translate(0, 0);
  }
  .right25 {
    right: 25px;
  }
}

.card {
  overflow: hidden;
}

@media only screen and (max-width:992px) {
  /* .wishlist-btn{
    bottom: 0;
    top: 10px;
    font-size: 20px;
  } */
  .img-container {
    transform: scale(0.8);
  }
  .addto-cart-btn-mobile {
    position: absolute;
    left: 10px;
    bottom: 105px;
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
  }
  .addto-cart-btn {
    display: none;
  }
  .cartTotal {
    font-size: 16px !important;
  }
}

.inCart {
  color: #808080;
}

.card-footer {
  border-top: 4px solid #6799A3;
  background: transparent;
  margin-top: 10px;
  padding: 0 !important;
}

.card-footer a {
  color: #000000;
  display: block;
}
.price-text-color {
  color: #ff7f50;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
}
.review-text {
  font-size: 10px;
  margin-top: -3px;
  display: block;
}

.stars-outer {
  position: relative;
  display: block;
}
/* .stars-outer::before {
  content: '\f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 500
} */
/* .card-footer:hover {
  z-index: 8;
  height: 90px;
  margin-top: -45px;
  background-color: white
} */

/*Color-swatches*/

.color-div-wrapper {
  width: 60px;
}

.color-radio-btn {
  width: 25px;
  height: 25px;
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.color-div-outer {
  width: 28px;
}

.color-div {
  width: 25px;
  height: 25px;
  margin-top: -30px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.color-div:hover {
  outline: none;
  border: 4px solid #000000;
}

.color-label-div {
  width: 60px;
  text-align: start;
  font-size: 14px;
  /* margin-top: -10px; */
}

.select-size-section {
  height: 80px;
}

.size-div {
  width: 60px;
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 3px;
  font-weight: 500;
  border-bottom: 3px solid #000000;
  cursor: pointer;
}

/*features section*/

.feature-image-column {
  width: 70%;
  height: auto;
}

.feature-section .text-section {
  background-color: #f6f6f6;
}

/*product slider*/

ul.thumb {
  margin: 0;
  padding: 0;
  float: left;
}

ul.thumb li {
  list-style-type: none;
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  margin: 5px;
}

.thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #d3d3d3;
  -webkit-appearance: none;
  display: block;
  cursor: pointer;
}

.thumb img {
  padding-top: 5px;
}

/* #thumb1 {
  background-image: url('img/google/thumb1.jpg');
  background-size: contain;
} */

/*mobile product slider*/
#product-detail {
  overflow-x: hidden;
}
#product-detail .slider-container-pdp {
  width: 100%;
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.slider-wrapper {
  /* position: relative; */
  display: flex;
  width: 400%;
  transition: all 0.7s linear;
}

.slides {
  flex-basis: 100%;
}

.arrow-left {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(45deg);
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 40%;
  right: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  transform: rotate(45deg);
  cursor: pointer;
}

.height300 {
  max-height: 260px;
}

.width200 {
  max-width: 200px;
}

/*modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container .row {
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.2);
}

.modal-container img {
  width: 60px;
}

.modal-container button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}

.continue-shopping {
  color: #51bec1;
  border: 1px solid #51bec1;
}

.continue-shopping:hover {
  color: #000000;
  background: #51bec1;
}

.go-to-cart {
  color: #ffb100;
  border: 1px solid #ffb100;
}

.go-to-cart:hover {
  color: #000000;
  background: #ffb100;
}

/*cart*/
.cart-wrapper {
  margin-top: 125px;
}
.wishlist-wrapper {
  position: relative;
  padding-top: 125px;
}
.btn-cart {
  border: 1px solid #000000 !important;
  border-radius: 0 !important;
  color: #000000;
  font-size: 10px;
  padding: 2px 6px !important;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-cart:hover {
  background: #ffb100;
}

.btn-delete-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e9ecef;
  cursor: pointer;
}

.btn-delete-wrapper:hover {
  background: #ffb100;
}

.btn-delete-wrapper:hover .btn-delete {
  color: #000000;
}

.btn-delete {
  padding-top: 5px;
  font-size: 16px;
  color: #ffb100;
  cursor: pointer;
}

.cart-item {
  border: 1px solid #cec6c6;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

#cartPage {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.cartTotal {
  font-size: 18px;
  font-weight: 600;
}
.cart-price-details {
  /* background-color: #e9ecef; */
  padding-bottom: 50px;
}
.nav-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff0000;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  color: #ffffff;
  font-size: 13px;
  font-weight: 800;
  border: 1px solid wheat;
}
.cart-indicator {
  top: -2px;
  right: 10px;
}
.wishlist-indicator {
  top: -4px;
  right: 60px;
}

/*footer section*/
.footer-container {
  width: 100%;
  /* height: 400px; */
  background-color: #000000;
}
.footer-container img {
  width: 40px;
}
.footer-container li {
  list-style-type: none;
  color: #ffffff;
}
.footer-container ul {
  color: #ffb100;
  border-bottom: 1px solid #444f58;
  padding-bottom: 40px;
}
.footer-container ul span {
  border-bottom: 1px solid #ffb100;
}
.footer-container ul li span {
  border-bottom: 0;
}
/* .footer-container .social-links li img {
 cursor: pointer;
} */